#logo{

    font-size: 90px;
    font-weight: bold;

}

#sub{

    font-size: 20px;
    font-weight: bold;
   
}



body{

    font-family: monospace;
    margin-top: 5%;
    background-color: #0D0D0D;
    color: cornsilk;
    margin-left: 10%;
    margin-right: 10%;
    

}





.text{

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

}


p{

    text-align: left;
    margin-left: 5%;

}




a{

background: #F24405;
color:#fff;
text-decoration:none; /*tira o grifado feio dos links*/
padding:5px 10px; /*aumenta o espaço do menu*/

}

li{

    background: #F24405;

    padding:5px 10px; /*aumenta o espaço do menu*/
    
    }

i{

    background: #F24405;
    color:#fff;
    padding:3px 7px;
    
    }


.grifar{

    font-size: 40px;

}

#imglogo{

    margin-left: 90%;
    line-break:loose;

}

u{

    text-decoration-color: #F24405;

}

