body{

    font-family: monospace;
    margin-top: 5%;
    background-color: black;
    color: cornsilk;
    

}

#titulo{

    font-size: 40px;

}

#sub{

    font-size: 20px;
   

}

.text{

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

}


u{

    text-decoration-color: brown;

}