body{

    font-family: monospace;
    margin-top: 5%;
    background-color: #2E004F;
    color: cornsilk;
    margin-left: 10%;
    margin-right: 10%;
    

}

#logo{

    font-size: 90px;

}

#sub{

    font-size: 20px;
   
}

.text{

    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;

}


p{

    text-align: left;
    margin-left: 5%;

}




a{

background: #923ECF;
color:#fff;
text-decoration:none; /*tira o grifado feio dos links*/
padding:5px 10px; /*aumenta o espaço do menu*/

}

i{

    background:#000000;
    color:#fff;
    padding:3px 7px;
    
    }


.grifar{

    font-size: 40px;

}

#imglogo{

    margin-left: 90%;
    line-break:loose;

}

u{

    text-decoration-color: #4B0082;

}